<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indieweb.indigenous">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".indieauth.IndieAuth"
            android:label="@string/title_activity_indieauth" />

        <activity
            android:name=".microsub.channel.ChannelActivity"
            android:label="@string/channels">
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineActivity"
            android:label="@string/timeline"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineImageActivity"
            android:label="@string/title_activity_timeline_image"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".microsub.timeline.TimelineAudioActivity"
            android:label="@string/title_activity_timeline_audio" />

        <activity android:name=".micropub.MicropubActivity"
            android:label="@string/title_activity_micropub">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".micropub.post.NoteActivity"
            android:label="@string/add_note"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity
            android:name=".micropub.post.ArticleActivity"
            android:label="@string/add_article"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity
            android:name=".micropub.post.RepostActivity"
            android:label="@string/repost"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity-alias
            android:enabled="false"
            android:targetActivity=".micropub.post.RepostActivity"
            android:name=".RepostAlias"
            android:label="@string/add_repost">
            <intent-filter android:label="@string/add_repost">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.LikeActivity"
            android:label="@string/add_like"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity-alias
            android:enabled="false"
            android:targetActivity=".micropub.post.LikeActivity"
            android:name=".LikeAlias"
            android:label="@string/add_like">
            <intent-filter android:label="@string/add_like">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.ReplyActivity"
            android:label="@string/reply_to"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity-alias
            android:enabled="false"
            android:targetActivity=".micropub.post.ReplyActivity"
            android:name=".ReplyAlias"
            android:label="@string/add_reply">
            <intent-filter android:label="@string/add_reply">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.BookmarkActivity"
            android:label="@string/add_bookmark"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />
        </activity>

        <activity-alias
            android:enabled="false"
            android:targetActivity=".micropub.post.BookmarkActivity"
            android:name=".BookmarkAlias"
            android:label="@string/add_bookmark">
            <intent-filter android:label="@string/add_bookmark">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.EventActivity"
            android:label="@string/event"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />

        </activity>

        <activity
            android:name=".micropub.post.RsvpActivity"
            android:label="@string/rsvp"
            android:parentActivityName=".micropub.MicropubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.micropub.MicropubActivity" />

        </activity>

        <activity android:name=".SettingsActivity" />

    </application>

</manifest>