<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indieweb.indigenous"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"  />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Indigenous"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="m">

        <service
            android:name=".indieweb.indieauth.AuthenticatorServiceIndieWeb"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_indieweb" />
        </service>

        <service
            android:name=".pixelfed.AuthenticatorServicePixelfed"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_pixelfed" />
        </service>

        <service
            android:name=".mastodon.AuthenticatorServiceMastodon"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_mastodon" />
        </service>

        <service
            android:name=".pleroma.AuthenticatorServicePleroma"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_pleroma" />
        </service>

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".users.AuthActivity"
            android:label="@string/title_activity_auth"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauthcallback"
                    android:scheme="indigenous-android" />
            </intent-filter>
        </activity>

        <activity
            android:name=".indieweb.microsub.manage.ManageChannelActivity"
            android:label="@string/channel_manage"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".FeedAlias"
            android:enabled="false"
            android:label="@string/add_feed"
            android:targetActivity=".indieweb.microsub.manage.ManageChannelActivity">
            <intent-filter android:label="@string/add_feed">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".indieweb.microsub.manage.ManageFeedsActivity"
            android:label="@string/feeds_manage"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".indieweb.microsub.manage.FeedActivity"
            android:label="@string/add_feed"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".reader.TimelineActivity"
            android:label="@string/timeline"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".reader.TimelineImageActivity"
            android:label="@string/title_activity_timeline_image"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".reader.TimelineDetailActivity"
            android:label="@string/title_activity_timeline_detail"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".reader.TimelineAudioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_timeline_audio"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".reader.TimelineVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_timeline_video"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.ShareActivity"
            android:label="@string/title_activity_share">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".post.NoteActivity"
            android:label="@string/add_note"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.CheckinActivity"
            android:label="@string/add_checkin"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.VenueActivity"
            android:label="@string/add_venue"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.GeocacheActivity"
            android:label="@string/add_geocache"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.ArticleActivity"
            android:label="@string/add_article"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.RepostActivity"
            android:label="@string/repost"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".RepostAlias"
            android:enabled="false"
            android:label="@string/add_repost"
            android:targetActivity=".post.RepostActivity">
            <intent-filter android:label="@string/add_repost">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".post.LikeActivity"
            android:label="@string/add_like"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".LikeAlias"
            android:enabled="false"
            android:label="@string/add_like"
            android:targetActivity=".post.LikeActivity">
            <intent-filter android:label="@string/add_like">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".post.ReplyActivity"
            android:label="@string/reply_to"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".ReplyAlias"
            android:enabled="false"
            android:label="@string/add_reply"
            android:targetActivity=".post.ReplyActivity">
            <intent-filter android:label="@string/add_reply">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".post.BookmarkActivity"
            android:label="@string/add_bookmark"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".BookmarkAlias"
            android:enabled="false"
            android:label="@string/add_bookmark"
            android:targetActivity=".post.BookmarkActivity">
            <intent-filter android:label="@string/add_bookmark">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".post.EventActivity"
            android:label="@string/event"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.RsvpActivity"
            android:label="@string/rsvp"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.TripActivity"
            android:label="@string/add_trip"
            android:parentActivityName=".LaunchActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/gpx+xml" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.ReadActivity"
            android:label="@string/add_read"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.IssueActivity"
            android:label="@string/add_issue"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.ContactActivity"
            android:label="@string/contact"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".photoeditor.EditImageActivity"
            android:label="@string/image_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".post.UploadActivity"
            android:label="@string/upload"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".UploadAlias"
            android:enabled="false"
            android:label="@string/upload"
            android:targetActivity=".post.UploadActivity">
            <intent-filter android:label="@string/upload">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".post.UpdateActivity"
            android:label="@string/update_post"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".indieweb.micropub.source.PostListFilterActivity"
            android:label="@string/source_post_list_filter"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".general.DebugActivity"
            android:label="@string/debug"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

    </application>

</manifest>