<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indieweb.indigenous"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"  />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Pushy permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- End Pushy permissions -->

    <application
        android:name=".Indigenous"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">

        <service
            android:name=".indieauth.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".tracker.TrackerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:targetApi="q" />

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".indieauth.IndieAuthActivity"
            android:label="@string/title_activity_indieauth"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauthcallback"
                    android:scheme="indigenous-android" />
            </intent-filter>
        </activity>

        <activity
            android:name=".microsub.manage.ManageChannelActivity"
            android:label="@string/channel_manage"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".FeedAlias"
            android:enabled="false"
            android:label="@string/add_feed"
            android:targetActivity=".microsub.manage.ManageChannelActivity">
            <intent-filter android:label="@string/add_feed">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".microsub.manage.ManageFeedsActivity"
            android:label="@string/feeds_manage"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.manage.FeedActivity"
            android:label="@string/add_feed"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineActivity"
            android:label="@string/timeline"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineImageActivity"
            android:label="@string/title_activity_timeline_image"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineDetailActivity"
            android:label="@string/title_activity_timeline_detail"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineAudioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_timeline_audio"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_timeline_video"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".microsub.timeline.TimelineMapActivity"
            android:label="@string/map"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.ShareActivity"
            android:label="@string/title_activity_share">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".micropub.post.NoteActivity"
            android:label="@string/add_note"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.CheckinActivity"
            android:label="@string/add_checkin"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.VenueActivity"
            android:label="@string/add_venue"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.GeocacheActivity"
            android:label="@string/add_geocache"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.ArticleActivity"
            android:label="@string/add_article"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.RepostActivity"
            android:label="@string/repost"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".RepostAlias"
            android:enabled="false"
            android:label="@string/add_repost"
            android:targetActivity=".micropub.post.RepostActivity">
            <intent-filter android:label="@string/add_repost">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.LikeActivity"
            android:label="@string/add_like"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".LikeAlias"
            android:enabled="false"
            android:label="@string/add_like"
            android:targetActivity=".micropub.post.LikeActivity">
            <intent-filter android:label="@string/add_like">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.ReplyActivity"
            android:label="@string/reply_to"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".ReplyAlias"
            android:enabled="false"
            android:label="@string/add_reply"
            android:targetActivity=".micropub.post.ReplyActivity">
            <intent-filter android:label="@string/add_reply">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.BookmarkActivity"
            android:label="@string/add_bookmark"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".BookmarkAlias"
            android:enabled="false"
            android:label="@string/add_bookmark"
            android:targetActivity=".micropub.post.BookmarkActivity">
            <intent-filter android:label="@string/add_bookmark">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.EventActivity"
            android:label="@string/event"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.RsvpActivity"
            android:label="@string/rsvp"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.ReadActivity"
            android:label="@string/add_read"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.IssueActivity"
            android:label="@string/add_issue"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.ContactActivity"
            android:label="@string/contact"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".photoeditor.EditImageActivity"
            android:label="@string/image_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.post.UploadActivity"
            android:label="@string/upload"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity-alias
            android:name=".UploadAlias"
            android:enabled="false"
            android:label="@string/upload"
            android:targetActivity=".micropub.post.UploadActivity">
            <intent-filter android:label="@string/upload">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".micropub.post.UpdateActivity"
            android:label="@string/update_post"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".micropub.source.PostListFilterActivity"
            android:label="@string/source_post_list_filter"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".general.DebugActivity"
            android:label="@string/debug"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".tracker.TrackActivity"
            android:label="@string/new_track"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".tracker.TrackerMapActivity"
            android:label="@string/tracker_map"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <activity
            android:name=".push.PushNotificationActivity"
            android:label="@string/push_notifications"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indieweb.indigenous.LaunchActivity" />
        </activity>

        <!-- Pushy Declarations -->

        <!-- Pushy Notification Receiver -->
        <!-- Incoming push notifications will invoke the following BroadcastReceiver -->
        <receiver android:name=".push.PushyBroadcastReceiver" android:exported="false">
            <intent-filter>
                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal service -->
        <service android:name="me.pushy.sdk.services.PushySocketService"/>

        <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
        <!-- Do not modify - internal service -->
        <service android:name="me.pushy.sdk.services.PushyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!-- End Pushy Declarations -->

    </application>

</manifest>